div{background-color: bisque;
width: 398px;
height: 200px;
border: blue 1.4px dotted;
border-radius: 20px;} 
#b1{margin-top: 100px;
margin-left: 200px;
padding: 20px;}
#m1{margin-left: 79px;
margin-right: 300px;
padding: 20px
;}


